:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-yellow: #F8F200;
    --color-blue: #52BEDC;
    --color-grey: #777777;

    --font-family-base: 'Roboto', sans-serif;
    --font-family-title: 'Archangelsk', sans-serif;

    --container-width: 1280px;
    --container-padding-x: 36px;

    --clip-path-offset: 50px;

    --transition-duration: 0.3s;
}