@font-face {
    font-family: 'Nunito-Sans';
    src: url('/src/fonts/NunitoSans10ptCondensed-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Sans';
    src: url('/src/fonts/NunitoSans10ptCondensed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Sans';
    src: url('/src/fonts/NunitoSans10ptCondensed-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Sans';
    src: url('/src/fonts/NunitoSans10ptCondensed-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Sans';
    src: url('/src/fonts/NunitoSans10ptCondensed-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Sans';
    src: url('/src/fonts/NunitoSans10ptCondensed-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}