.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.desktop-hidden {
    @include tablet-above {
        display: none !important;
    }
}

.tablet-hidden {
    @include tablet {
        display: none !important;
    }
}

.mobile-hidden {
    @include mobile {
        display: none !important;
    }
}

.container {
    @include container($container-width, $container-padding-inline-lg);
    
    @include mobile {
        --containerPaddingInline: #{$container-padding-inline-sm};
    }
}

.section:not(.first) {
    --sectionPaddingBlock: #{$section-padding-block-lg};

    padding-block: var(--sectionPaddingBlock);

    @include tablet {
        --sectionPaddingBlock: #{$section-padding-block-md};
    }

    @include mobile {
        --sectionPaddingBlock: #{$section-padding-block-sm};
    }
}