.button {
    &--primary, &--secondary {
        padding: 16px 24px;
        font-size: $font-size-14;
        font-weight: 900;
        text-transform: uppercase;
    }

    &--primary {
        background-color: var(--color-primary);
        border: var(--border-primary);
        color: var(--color-text-light);

        @include transition((background-color, color));
        
        @include hover {
            background-color: var(--color-text-light);
            color: var(--color-primary);
        }
    }

    &--secondary {
        background-color: var(--color-secondary);
        border: var(--border-secondary);
        color: var(--color-text);

        @include transition(background-color);
        
        @include hover {
            background-color: var(--color-text-light);
        }
    }

    &--svg-only {
        padding: 0;
        background-color: transparent;
        border: none;

        & svg {
            display: block;
        }
    }
}