.header-nav {
    &__list {
        display: flex;
        column-gap: 32px;
    }

    &__link {
        border-bottom: 1px solid transparent;
        font-size: $font-size-18;
        font-weight: 700;
        color: var(--color-text-light);

        @include transition((color, border-color));

        @include hover {
            border-color: var(--color-primary);
            color: var(--color-primary);
        }
    }
}