.top-menu {
    background-color: var(--color-bg-accent);

    &__inner {
        height: #{$top-menu-height};
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        column-gap: 24px;
    }

    &__link {
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-size: #{$font-size-14};
        color: var(--color-text-light);
    }

    &__order-call {
        padding: 0;
        background-color: transparent;
        border: none;
        font-size: #{$font-size-14};
        color: var(--color-primary);
    }
}