@charset "UTF-8";
.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") /*rtl:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")*/;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") /*rtl:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")*/;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}

[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark] .carousel .carousel-control-next-icon, [data-bs-theme=dark].carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
  background-color: #000;
}
[data-bs-theme=dark] .carousel .carousel-caption, [data-bs-theme=dark].carousel .carousel-caption {
  color: #000;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg:not([class]) *[fill] {
  fill: currentColor;
}

svg:not([class]) *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Nunito-Sans";
  src: url("/src/fonts/NunitoSans10ptCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Sans";
  src: url("/src/fonts/NunitoSans10ptCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Sans";
  src: url("/src/fonts/NunitoSans10ptCondensed-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Sans";
  src: url("/src/fonts/NunitoSans10ptCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Sans";
  src: url("/src/fonts/NunitoSans10ptCondensed-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Sans";
  src: url("/src/fonts/NunitoSans10ptCondensed-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-primary: #4F8FF0;
  --color-secondary: #E6E6E6;
  --color-text: #222222;
  --color-text-light: #FFFFFF;
  --color-bg: #F7F7F7;
  --color-bg-accent: #010101;
  --color-bg-accent-half: rgba(1, 1, 1, 0.76);
  --border-primary: 2px solid var(--color-primary);
  --border-secondary: 2px solid var(--color-secondary);
  --container-width: 1320px;
  --container-padding-inline: 69px;
  --transition-duration: 0.3s;
}

body {
  font-family: "Nunito-Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (width > 1060px) {
  .desktop-hidden {
    display: none;
  }
}

@media (width < 1061px) {
  .tablet-hidden {
    display: none;
  }
}

@media (width < 768px) {
  .mobile-hidden {
    display: none;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-inline) * 2);
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
}
@media (width < 768px) {
  .container {
    --container-padding-inline: 24px;
  }
}

.button--svg-only {
  padding: 0;
  background-color: transparent;
  border: none;
}
.button--svg-only svg {
  display: block;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}

.top-header {
  background-color: var(--color-bg-accent);
}
.top-header__inner {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-header__list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.top-header__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-light);
}
.top-header__order-call {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
}

.bottom-header {
  --bottom-header-pt: 20px;
  --bottom-header-pb: 28px;
  padding-top: var(--bottom-header-pt);
  padding-bottom: var(--bottom-header-pb);
  background-color: var(--color-bg-accent-half);
}
@media (width < 1061px) {
  .bottom-header {
    --bottom-header-pt: 16px;
    --bottom-header-pb: 19px;
  }
}
.bottom-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-header__logo-icon {
  display: block;
}
@media (width < 1061px) {
  .bottom-header__logo-icon {
    width: 217px;
    height: 47px;
  }
}
.bottom-header__burger-button {
  color: var(--color-text-light);
  transition-property: color;
  transition-duration: 0.3s;
}
@media (hover: hover) {
  .bottom-header__burger-button:hover {
    color: var(--color-primary);
  }
}
@media (hover: none) {
  .bottom-header__burger-button:active {
    color: var(--color-primary);
  }
}

.header-nav__list {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header-nav__link {
  border-bottom: 1px solid transparent;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-light);
  transition-property: color, border-color;
  transition-duration: 0.3s;
}
@media (hover: hover) {
  .header-nav__link:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}
@media (hover: none) {
  .header-nav__link:active {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}

.hero {
  padding-top: 52px;
}

.advantages-carousel-item {
  height: 820px;
}
@media (width < 1061px) {
  .advantages-carousel-item {
    height: 529px;
  }
}
@media (width < 768px) {
  .advantages-carousel-item {
    height: 486px;
  }
}
.advantages-carousel-item__image-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.advantages-carousel-item__image {
  height: 100%;
  width: auto;
}
@media (width > 1920px) {
  .advantages-carousel-item__image {
    height: auto;
    width: 100%;
  }
}
.advantages-carousel-item__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-light);
  text-align: center;
}
.advantages-carousel-item__content-inner {
  max-width: calc(1090px + var(--container-padding-inline) * 2);
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
}
@media (width < 768px) {
  .advantages-carousel-item__content-inner {
    --container-padding-inline: 24px;
  }
}
.advantages-carousel-item__title {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.advantages-carousel-item__title-top {
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
}
@media (width < 1061px) {
  .advantages-carousel-item__title-top {
    font-size: 24px;
  }
}
@media (width < 768px) {
  .advantages-carousel-item__title-top {
    font-size: 18px;
  }
}
.advantages-carousel-item__title-bottom {
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-primary);
}
@media (width < 1061px) {
  .advantages-carousel-item__title-bottom {
    font-size: 50px;
  }
}
@media (width < 768px) {
  .advantages-carousel-item__title-bottom {
    font-size: 30px;
  }
}
.advantages-carousel-item__text {
  font-size: 20px;
  line-height: 120%;
}
@media (width < 1061px) {
  .advantages-carousel-item__text {
    font-size: 18px;
  }
}
@media (width < 768px) {
  .advantages-carousel-item__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */