html {
    /* Гладкая прокрутка для якорных ссылок через id */
    scroll-behavior: smooth; 
}

@font-face {
    font-family: "name";
    src: url('...') format("woff2");
    /* Заменяет незагруженный шрифт на запасной практически моментально */
    font-display: swap;
}

/* Когда у двух рядом стоящих элементов указан margin, то итоговый отступ будет равен наибольшему числу.
это называется схлопыванием. Т.е. отступы не суммируются и это важно понимать */

/* Про единицы измерения */
/* em это размер относительно размера шрифта родительского элемента. Пример: у h1 размер шрифта 30px, а внутри него есть span
с размеров шрифта 0.5em, в итоге размер шрифта равен 30 * 0.5 = 15px. Такие вычисления будут выполняться и для высоты, ширины
и т.д. */

/* В уроке №14 по CSS у Александра Ламкова есть инфа про кастомные checkbox и radio input'ы
Также там есть инфа про статью на htmlacademy на тему как визуально прятать некотороые элементы (актуально для input'ов) */